.header {
	background-image: url('../images/banner/banner.png');
	background-size: cover;
	background-position: center;
	height: 100%;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-bg-dark);
		height: 70px;
	}

	&__btn {
		display: none;
	}

	&__logo {
		height: 60%;
		margin-left: 10px;
	}
}

.nav {
	&__burger-input {
		display: none;
	}

	&__burger-btn {
		font-size: 40px;
		color: var(--color-font-light);
		padding: 10px 25px;
	}

	&__list {
		display: none;
	}
}

.content {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin: 60px 20px;
		margin-bottom: 20px;
		font-size: 4rem;
		color: var(--color-font-light);
		line-height: 5rem;
	}

	&__text {
		font-size: 2rem;
		color: var(--color-font-light);
		margin: 0 20px;
	}

	&__btn {
		background-color: #37ebed;
		border: none;
		color: var(--color-font-light);
		border-radius: 8px;
		padding: 20px 60px;
		font-size: 1.6rem;
		margin: 50px 20px;
	}

	&__picture {
		position: relative;
		top: 50px;
		margin: 0 20px;
	}
}
