.header {
	background-position: left bottom;
	&__logo {
		margin-left: 4rem;
	}
}

.nav {
	&__burger-btn {
		margin-right: 2rem;
	}
}

.content {
	&__container {
		padding-top: 5rem;
		padding-bottom: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	&__title {
		font-size: 3.2rem;
		line-height: 4rem;
	}

	&__heading {
		padding-left: 5rem;
	}

	&__picture {
		padding-right: 5rem;
		width: 380px;
		margin: 0;
	}
}

.savings {
	&__title {
		margin: 2.4rem 24rem;
		padding: 2rem 0;
	}

	&__cards {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		max-width: 90%;
	}
}

.saving-card {
	&__text {
		font-size: 2.6rem;
	}
}

.features {
	margin: 5rem;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__description {
		padding-right: 3rem;
	}

	&__picture {
		width: 45%;
		margin-bottom: 0;
	}

	&__title {
		margin-left: 2rem;
		text-align: left;
	}
}

.review {
	&__container {
		padding: 0 10rem;
	}
}

.pricing {
	padding-bottom: 10rem;

	&__description {
		margin: 0 15rem;
	}

	&__cards {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.price-card {
	width: 30%;

	&__header {
		padding: 0 3rem;
	}

	&--team {
		height: 550px;
		z-index: 1;
	}

	&__list {
		font-size: 1.8rem;
	}
}

.contact {
	padding: 0 5rem;

	&__container {
		padding: 8rem 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10rem;
		justify-content: center;
	}

	.contact-card {
		&__title {
			&--main {
				padding-top: 2rem;
				font-size: 2.6rem;
				font-weight: 500;
			}
		}

		&__logos {
			padding-top: 4rem;
		}
	}
}
